---
import Drawer from "./Drawer.astro";

const { hasSidebar } = Astro.locals.starlightRoute;
const footerText = "IEFA - CPAINT";
---

<div class="layout">
  <div class="layout__grid">
    <header class="layout__header">
      <div class="container-wrapper">
        <div class="container container__header">
          <slot name="header" />
        </div>
      </div>
    </header>
    <main class="main">
      {!hasSidebar && <slot />}

      {
        hasSidebar && (
          <div class="container-wrapper">
            <div class="container container-wrapper-main">
              <aside class="aside">
                <slot name="sidebar" />
              </aside>

              <slot />
            </div>
          </div>
        )
      }
    </main>
    <footer class="footer">
      <div class="container-wrapper">
        <div class="container footer-container">
          <div class="footer-text">{footerText}</div>
        </div>
      </div>
    </footer>
  </div>
  <Drawer />
</div>

<style>
  .layout {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    position: relative;
  }

  .layout__grid {
    border-color: color-mix(in oklab, var(--border) 30%, transparent);
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
  }

  :global([data-theme='dark']) .layout__grid {
    border-color: var(--border);
  }

  .layout__header {
    background-color: color-mix(in oklab, var(--background) 60%, transparent);
    border-color: color-mix(in oklab, var(--border) 30%, transparent);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    z-index: 50;
    top: 0;
    position: sticky;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  :global([data-theme='dark']) .layout__header {
    border-color: var(--border);
  }

  .container__header {
    display: flex;
    align-items: center;
    height: 3.5rem;
  }

  .main {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
  }

  .container-wrapper-main {
    align-items: flex-start;
    flex: 1 1 0%;
  }

  @media (min-width: 1024px) {
    .container-wrapper-main {
      gap: 2.5rem;
      grid-template-columns: 240px minmax(0, 1fr);
    }
  }

  @media (min-width: 768px) {
    .container-wrapper-main {
      gap: 1.5rem;
      grid-template-columns: 220px minmax(0, 1fr);
      display: grid;
    }
  }

  .aside {
    border-color: color-mix(in oklab, var(--border) 30%, transparent);
    border-right-width: 1px;
    border-right-style: solid;
    flex-shrink: 0;
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: none;
    z-index: 30;
    top: 3.5rem;
    position: fixed;
  }

  :global([data-theme='dark']) .aside {
    border-color: var(--border);
  }

  @media (min-width: 768px) {
    .aside {
      display: block;
      position: sticky;
    }
  }

  .footer {
    border-color: color-mix(in oklab, var(--border) 30%, transparent);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top-width: 1px;
    border-top-style: solid;
  }

  :global([data-theme='dark']) .footer {
    border-color: var(--border);
  }
  @media (min-width: 768px) {
    .footer {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: 1536px) {
    .footer-container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media (min-width: 1280px) {
    .footer-container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .footer-text {
    color: var(--muted-foreground);
    line-height: 2;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    text-wrap: balance;
  }

  @media (min-width: 768px) {
    .footer-text {
      text-align: left;
    }
  }
</style>

<style is:global>
  .footer-text a {
    text-underline-offset: 4px;
    text-decoration-line: underline;
    font-weight: 500;
    color: inherit;
  }
</style>
